:root {
    font-family:'Courier New', Courier, monospace;
    color: #eee;
}

body {
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: fit-content;
}

nav {
    display: flex;
    flex: row;
    justify-content: center;
    column-gap: 5rem;
    border: 2px solid black;
    width: 100vw;
    padding: 20px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.9);
}

.btn {
    cursor: pointer;
    border-style: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    color: #eee;
    font-size: 20px;
}

.main {
    width: 80vw;
    border: 2px solid black;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desc {
    vertical-align: middle;
}

.menu-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    width: 300px;
    max-width: 50%;
    float: left;
}

.loc {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 600px;
    max-width: 80%;
}

.slider {
    width: 30vw;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.frame {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0px;
    box-sizing: border-box;
}

.slideImg {
    width: 30vw;
    justify-self: center;
    align-self: center;
}

.arr {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;
    transition: 0.4 ease;
}

.arr:hover {
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.2)
}

.arr div {
    position: absolute;
    height: 15px;
    width: 15px;
    border-top: 5px groove whitesmoke;
    border-left: 5px groove whitesmoke;
    transform: rotate(45deg);
    left: 12px;
    top: 14px;
}

.next {
    transform: rotate(90deg);
}

.prev {
    transform: rotate(-90deg);
}

.next-wrapper {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 1%;
}

.prev-wrapper {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 1%;
}

.form-wrapper {
    display: flex;
    width: 50vw;
}

.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 50px;
}

.user-info {
    padding: 10px;
    width: 80vw;
    height: 25px;
}

.user-message {
    padding: 10px;
    width: 80vw;
    height: 250px;
}

.submit-btn {
    width: 100px;
    height: 25px;
}

input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid #333;
    margin: 0;
    font-family: inherit;
    font-size: 90%;
    box-sizing: border-box;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border-color: #900;
    background-color: #FDD;
}

input:focus:invalid {
    outline: none;
}

textarea {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid #333;
    margin: 0;
    font-family: inherit;
    font-size: 90%;
    box-sizing: border-box;
}

textarea:not(:focus):not(:placeholder-shown):invalid {
    border-color: #900;
    background-color: #FDD;
}

textarea:focus:invalid {
    outline: none;
}

.error {
    text-align: center;
    width: 400px;
    padding: 0;
    font-size: 90%;
    color: white;
    background-color: rgba(2, 206, 196, 0.783);
    border-radius: 5px;
    box-sizing: border-box;
}
  
.error.active {
    padding: 0.3em;
}