body {
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: fit-content;
}

nav {
    display: flex;
    flex: row;
    justify-content: center;
    column-gap: 5rem;
    border: 2px solid black;
    width: 100vw;
    padding: 20px;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.9);
}

.btn {
    cursor: pointer;
    border-style: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: #eee;
    padding: 10px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

.main {
    width: 80vw;
    border: 2px solid black;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    font-family:'Courier New', Courier, monospace;
    color: #eee;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desc {
    vertical-align: middle;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
    width: 300px;
    max-width: 50%;
    float: left;
}

.loc {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 600px;
    max-width: 80%;
}